* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(0, 166, 255);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    width: 310px;
    margin: 120px auto;
}

.token {
    background-color: purple;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px #b96453;
    color: white;
}

.empty {
    background-color: transparent;
    box-shadow: none;
}